
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:    #ffe6e6;
  font-family: 'Roboto', sans-serif;  
}
.menuSuperior nav{
  width: 100%;
  background:  #77f7f7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.menuSuperior nav ul{
  list-style: none;
}
.menuSuperior nav div>ul>li{
  display: inline-block;  
}
.menuSuperior nav ul li{  
  margin-left: 10px;
}
.menuSuperior nav ul li a{
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
.menuSuperior nav ul li a:hover{
  background-color: rgba(255,255,255,0.4);
  cursor: pointer;
}
p{
  color:  #ff33bb;
  font-weight: 400;
  font-size: 50px;
  display: flex;
  size: 40px;
  text-align: center;
  margin-left:200px;
  margin-right: 200px;  

}

#notificacion{
  margin-right: 60px;
  text-decoration: none;
}


.barra-lateral{
  background: #262a34;
  color: #fff;
  width: 20%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  float: left;
}
.barra-lateral a{
  color:#fff;

}

.barra-lateral .logo{
  background-image: linear-gradient(to bottom, #FCC3E8  , #fff);
  margin-bottom: 5px;
}


.barra-lateral .menu1 a{
  display: block;
  padding:15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-bottom: 3px solid rgba(255,255,255,.1);
  text-decoration: none;
  transition: opacity 1.5s
}
.barra-lateral .menu1 a:hover{
  background-color: rgba(0,0,0,.6);
  text-decoration: none;
}
.barra-lateral .menu1 a i{
  margin-right: 15px;
  font-weight: normal;
}

.content{
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.content > h1{
  color: #494B4D;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;

}

.content > h1:after{
  content: '';
  width: 100%;
  height: 3px;
  background:#80ffff;
  margin: 20px 0;
}

.Catalo{
  display: flex;
}

.Lista{
  display: flex;
  flex-direction: column;
  width: 18%;
  margin: 18px;
}
.product{
  width: 82%;
}
.Lista .catal{
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background:   #F547B1;

  text-align: center;
  text-decoration: none;
  color: #fff;
}


/* Productos ============*/

.product{
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}


.product .producto{
  width: 22%;
  margin-left: 3%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;

  transition: all .4s;
}

.product .producto img{
  width: 100%;
}

.product .producto a{
  display: block;
  width: 100%;
  padding: 8px 0;
  background: #80ffff;

  color: #000;
  text-align: center;
  text-decoration: none;
}
.Lista .catal-active{
  background: #EFA5D2;
}

/* RESPONSIVE ================================*/

@media screen and (max-width: 1100px){
  .product .producto{
    width: 30.3%;
  }
}

@media screen and (max-width: 900px){
  .Lista,
  .product{
    width: 100%;
  }

  .Lista{
    flex-direction: row;
    justify-content: space-between;
  }

  .List .catal{
    align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }

  .product .producto{
    margin-left: 4.5%;
  }

  .Lista .producto:nth-child(3n+1){
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px){
  .Lista{
    flex-direction: column;
  }
  .Lista .catal{
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px){

  .product .producto{
    width: 47.5%;
  }

  .product .producto:nth-child(3n+1){
    margin-left: 4.5%;
  }

  .product .producto:nth-child(2n+1){
    margin-left: 0px;
  }

}

@media screen and (max-width: 350px){
  .producto .producto{
    width: 100%;
    margin-left: 0px;
  }
}